.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{
    width: 30%;
    border: 1px solid black;
    padding: 100px 80px;
    background-color: aquamarine;
    text-align: center;
    font-size: 25px;
}
img{
    width: 50%;
    margin-top: -10px;
}
.SB{
    padding: auto;
}